root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.go]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.{yml,yml.dist,yaml,yaml.dist,xml,xml.dist}]
indent_size = 2

[*.{html,css,js,ts,vue,jsx,tsx}]
indent_size = 2
